<ion-view title="about">
    <ion-content padding="'true'">
        <div class="bar bar-header bar-light">
            <a href="#/settings" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
            <h1 class="title" style="color: #9c9c9c;  text-transform: uppercase; font-size: 15px">About</h1>
        </div>
        <div id="about-page" style="margin-top: 60px">
            <div class="card">
                <div class="item item-text-wrap">
                    <p>
                        We zijn een creatief team die gezonheid erg belangrijk vinden.
                        Wij willen ervoor zorgen dat andere mensen ook hun gezondheid belangrijk gaan vinden. Met die gedachte gang zijn wij aan de slag gegaan met een gezondheidsapplicatie.
                        Mensen moeten door middel van onze applicatie een inzicht krijgen over hoe je gezondheid ervoor staat. Door het loggen van je eten kunnen wij jouw gezondheid meten.
                        Tevens kunnen wij een voorspelling maken over hoe jouw gezondheid in de toekomst zal zijn. Daarbij geven wij feedback over je eetgebruik en de risico’s met betrekking op ziektes en dergelijke.
                   </p>
                    <p>
                        Met het gebruik van onze hologram zal je meer dan ooit geconfronteerd worden met je gezondheidstatus.
                        Een visueel beeld zorgt voor een meer schokkend effect, wat jouw daadwerkelijk aan het denken kan zetten over jouw gezondheid. Dit kan natuurlijk postief of negatief zijn.
                        Buiten dat is het een modern huiskamer product, wat zeker ook gebruikt kan worden als decoratie.
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>