<ion-view title="about">
    <ion-content padding="'true'">
        <div class="bar bar-header bar-light">
            <a href="#/settings" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
            <h1 class="title" style="color: #9c9c9c;  text-transform: uppercase; font-size: 15px">About</h1>
        </div>
        <div id="about-page" style="margin-top: 60px">
            <div class="card">
                <div class="item item-text-wrap">
                    <p style="text-align: justify; padding: 0 20px 10px 20px; font-size: 15px">
                        We are a creative team, who find health very important.
                        We want to inspire other people to let them also see the importance of your health. With this in mind, we started building a health application.
                        People should get a insight through our application how their health is doing. By logging your food we can measure your health.
                        We also can make a prediction about how your health will be in the future. In addition, we provide feedback on your eating habits and the risks related to diseases.
                   </p>
                    <p style="text-align: justify; padding: 0 20px 10px 20px; font-size: 15px">
                        With the use of our Hologram, you will more than ever faced with your our health situation.
                        A visual image will create a more shocking effect, what can make you think about your health. This of course can be negative or positive.
                        Beyond that, the Hologram can also be used as an modern living room product.
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>