<ion-view title="fitbit">
    <ion-content padding="'true'">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="./img/FitbitLogo.png" style="padding: 0 20px 0 20px">
                <hr>
                <h2 style="text-align: center;"></h2>
                <h2 style="text-align: center;">Connecting with Fitbit</h2>
                <p style="text-align: center;">Please wait</p>
                <div style="text-align: center">
                    <ion-spinner></ion-spinner>
                </div>
                <div class="item item-icon-left">
                        <i id="icon-check-fitbit"></i>
                    {{ connected }}
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>