<ion-view title="Graph">
    <ion-content padding="'true'">
        <div class="bar bar-header bar-light">
            <a href="#/dashboard" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <h1 class="title">Graph - Chart</h1>
        </div>
        <div class="bar bar-subheader">
            <h2 class="title">December 2015</h2>
        </div>


        <canvas style=" width:300px; height:150px; padding-right:20px; color: rgba(255, 0, 34, 0.71); margin-top: 90px"
                id="skills"></canvas>

        <div class="list card">
            <div class="item item-body">
                <h2>
                    Heart qualities
                </h2>
                <hr>
                <p>
                    By what has been achieved over recent weeks / months, will your heart qualities go up and you would have much more energy.
                    Keeping to this pattern you will have a lot to benefit from it in the future .

                    The risk of disease is therefore much less and you will therefore later in the future can do many more activities.
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>


