<ion-view title="Graph">
    <ion-content padding="'true'">
        <div class="bar bar-header bar-light">
            <a href="#/dashboard" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <h1 class="title">Graph - Chart</h1>
        </div>
        <div class="bar bar-subheader">
            <h2 class="title">January 2017</h2>
        </div>


        <canvas style=" width:300px; height:150px; padding-right:20px; color: rgba(255, 0, 34, 0.71); margin-top: 90px"
                id="skills3"></canvas>

        <div class="list card">
            <div class="item item-body">
                <h2>
                    Calories
                </h2>
                <hr>
                <p>
                    Within a healthy, balanced diet, a man needs around 10,500kJ (2,500Kcal) a day to maintain his weight. For a woman, that figure is around 8,400kJ (2,000Kcal) a day.
                    These values can vary depending on age, metabolism and levels of physical activity, among other things. </br> </br>

                    Calories are a measure of how much energy food or drink contains. The amount of energy you need will depend on: <br> <br>
                </p>

                    Your age: <br>
                    <ul>
                        <li>for example, growing children and teenagers may need more energy</li>
                    </ul> <br>
                    Your lifestyle: <br>
                    <ul>
                        <li>for example, how active you are</li>
                    </ul> <br>
                    Your size:<br>
                    <ul>
                        <li>your height and weight can affect how quickly you use energy</li>
                    </ul> </br></br>
                <p>  
                    Other factors can also affect how much energy you burn. For example:
                    some hormones (chemicals produced by the body) such as thyroid hormones. 
                    some medications – such as glucocorticoids (a type of steroid used to treat inflammation)
                    being unwell
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>


