<ion-view title="Graph">
    <ion-content padding="'true'">
        <div class="bar bar-header bar-light">
            <a href="#/dashboard" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <h1 class="title">Graph - Chart</h1>
        </div>


        <canvas style="color: rgba(255, 0, 34, 0.71); margin-top: 50px" id="skills" width="300" height="300"></canvas>


        <div>
            <h3>
                asdasdsad
            </h3>
            <hr>
            <p>
                IN SUMMARYSHARE ON TWITTER
                In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web
                copy before the design starts. Needless to say it’s very important, content is king and people are
                beginning to understand that. However, back over in reality some project schedules and budgets don’t
                allow for web copy to be written before the design phase, this is sad but true. We’re here to help,
                we’ve written examples of web copy for over 40 industries for you to use at concept phase of your
                projects to bring a little life and realism to your designs and help you think about who and what you
                are designing for. We want clients and designers alike to think about their design and how it will work
                with the web copy, we want you think about how numbers, symbols and bullet points will look.
            </p>
        </div>


    </ion-content>
</ion-view>


