<ion-view title="Graph">
    <ion-content padding="'true'">
        <div class="bar bar-header bar-light">
            <a href="#/dashboard" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <h1 class="title">Graph - Chart</h1>
        </div>
        <div class="bar bar-subheader">
            <h2 class="title">January 2017</h2>
        </div>


        <canvas style=" width:300px; height:150px; padding-right:20px; color: rgba(255, 0, 34, 0.71); margin-top: 90px"
                id="skills2"></canvas>

        <div class="list card">
            <div class="item item-body">
                <h2>
                    Hydration
                </h2>
                <hr>
                <p>
                    Your body depends on water to survive. Every cell, tissue, and organ in your body needs water to work correctly. For example, your body uses water to maintain its temperature, remove waste, and lubricate joints. Water is needed for good health. </br></br>

                    Water makes up more than half of your body weight. You lose water each day when you go to the bathroom, sweat, and even when you breathe. You lose water even faster when the weather is really hot, when you are physically active, or if you have a fever. Vomiting and diarrhea can also lead to rapid water loss. If you don’t replace the water you lose, you can become dehydrated.
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>


