<ion-view title="Graph">
    <ion-content padding="'true'">
        <div class="bar bar-header bar-light">
            <a href="#/dashboard" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <h1 class="title">Graph - Chart</h1>
        </div>
        <div class="bar bar-subheader">
            <h2 class="title">January 2017</h2>
        </div>


        <canvas style=" width:300px; height:150px; padding-right:20px; color: rgba(255, 0, 34, 0.71); margin-top: 90px"
                id="skills"></canvas>

        <div class="list card">
            <div class="item item-body">
                <h2>
                    <strong>Heart qualities</strong>
                </h2>
                <hr>
                <p>
                    The risk of getting cardiovascular diseases is partially determined by your lifestyle. There are alot of things you can do to reduce the risk of getting cardiovascular diseases, for example: don't smoke, exercise regularly, and keeping a healthy weight.
                </p>
                    <strong>Important riskfactors:</strong>
                    <ul>
                        <li>Smoking</li>
                        <li>High Cholesterol</li>
                        <li>High Blood Pressure</li>
                        <li>Overweight</li>
                        <li>Diabetes</li>
                        <li>Heredity</li>  
                        <li>Stress</li> 
                    </ul> </br>
                <p>
                    These riskfactors strenghten eachother. If you show signs of multiple riskfactors, you have a bigger chance of getting cardiavascular diseases. Thats why the Doctor always looks at the combination of the riskfactors.
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>


