<ion-view title="Home">
    <ion-content padding="'true'">
        <div ng-include src="'templates/icon-menu.html'"></div>
        <div class="list card">
            <div class="item item-divider">Body Mass Index (BMI)</div>
            <div class="item item-body">
                <div>
                    <p style="font-size: 30px;">
                        <strong>{{ bmi }} </strong>
                    </p>
                    <hr>
                    <p style="font-size: 15px">
                        <strong>{{bmi_result}}</strong> <br>
                        Advice: {{ bmi_advice}}
                    </p>
                    <p style="font-size: 15px">
                        Length: <strong>{{ length}}m</strong> | Weight <strong>{{ weight }}kg</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="card" style="margin-bottom:20px">
            <div class="item item-divider">Today - ({{today}})</div>
            <div class="item item-body">
                <div>
                    <ul>
                        <li>Last food item: <strong>{{lastItemToday}}</strong></li>
                        <li>Total calories:  <strong id="caloriesToday">{{totalCaloriesToday}}</strong> </li>
                        <li>Total gram(s) of fat:  <strong id="fatToday">{{totalFatToday}}</strong></li>
                    </ul>
                    <hr>
                    <strong>
                        <a href="#/myfood">View in your profile</a>
                    </strong>
                </div>  
            </div>
        </div>

        <div class="card" style="margin-bottom:20px">
            <div class="item item-divider">{{yesterday}}</div>
            <div class="item item-body">
                <div>
                    <ul>
                        <li>Last food item: <strong>{{lastItemYesterday}}</strong></li>
                        <li>Total calories: <strong id="caloriesYesterday">{{totalCaloriesYesterday}}</strong></li>
                        <li>Total gram(s) of fat: <strong id="fatYesterday">{{totalFatYesterday}}</strong> </li>
                    </ul>
                    <hr>
                    <strong>
                        <a href="#/myfood">View in your profile</a>
                    </strong>
                </div>  
            </div>
        </div>

        <div class="card" style="margin-bottom:20px">
            <div class="item item-divider">{{dayBeforeYesterday}}</div>
            <div class="item item-body">
                <div>
                    <ul>
                        <li>Last food item: <strong>{{lastItemDayBeforeYesterday}}</strong></li>
                        <li>Total calories: <strong id="caloriesDayBeforeYesterday">{{totalCaloriesDayBeforeYesterday}} </strong></li>
                        <li>Total gram(s) of fat: <strong id="fatDayBeforeYesterday">{{totalFatDayBeforeYesterday}}</strong> </li>
                    </ul>
                    <hr>
                    <strong>
                        <a href="#/myfood">View in your profile</a>
                    </strong>
                </div>  
            </div>
        </div>
    </ion-content>
</ion-view>

<ion-footer-bar align-title="left" class="button-block">
    <a href="#/myfood" class="button button-balanced button-block">
        Log your food
    </a>
</ion-footer-bar>