<ion-view title="Home">
    <ion-content padding="'true'" class="has-header">
        <div class="button-bar">
            <a href="#/dashboard" class="button button-stable button-block  icon ion-man"></a>
            <button class="button button-stable button-block  icon ion-ios-list-outline"></button>
            <a href="#/settings" class="button button-stable button-block  icon ion-android-settings"></a>
        </div>
        <div class="list card">
            <div class="item item-divider">1 Day ago</div>
            <div class="item item-body">
                <div>
                    <p>
                        Add some
                        <b>HTML</b>for
                        <u>flavor</u>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">2 Days ago</div>
            <div class="item item-body">
                <div>
                    <p>
                        Add some
                        <b>HTML</b>for
                        <u>flavor</u>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">3 Days ago</div>
            <div class="item item-body">
                <div>
                    <p>
                        Add some
                        <b>HTML</b>for
                        <u>flavor</u>
                    </p>
                </div>
            </div>
        </div>
        <a href="#/log" class="button button-balanced button-block  icon ion-android-add">Log your food</a>
    </ion-content>
</ion-view>