<ion-view title="Log Your Food">
    <ion-content padding="'true'">
        <div class="nav bar-stable bar-light">
            <a href="#/myfood" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
        </div>
        <ion-list class="has-header">
            <label class="item item-input">
                <span class="input-label">Search</span>
                <input type="text" placeholder="Search food" ng-model="search" ng-change="searchDelay(this)" id="search" >
            </label>

            <ion-item
                ng-repeat="food in details"
                food_id="{{food.id}}"
                food_name="{{food.name}}"
                food_type="{{food.type}}"
                food_url="{{food.url}}"
                data-click_count="0"
                class="" ng-click="addItem($event, food.food_id, food.food_name, food.food_type, food.food_description, food.food_url)" >
                    <span class="spanChild">{{food.food_name}}<br>
                    {{food.food_description}}</span><span class="clickCounter clicked-count">0</span>
            </ion-item>
            <p style="text-align: center; margin-top:5%; color: #28a54c">{{statusMessage}}</p>
<!--             <span style="text-align: center: margin-top: 5%; " ng-if="checked" class="animate-if">This is removed when the checkbox is unchecked.</span> -->
        </ion-list>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="button-block" style="display: none" id="doneButton">
    <button class="button button-balanced button-block" ng-click="toLocalStorage()">
        Done
    </button>
</ion-footer-bar>