<ion-view title="Log je voedsel">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Search</span>
                <input type="text" placeholder="">
            </label>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <button class="button button-stable button-block ">Nieuwe set</button>
        <div class="spacer" style="height: 100px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block ">Log je voedsel</button>
            <button class="button button-stable button-block ">nieuwe groep</button>
        </div>
    </ion-content>
</ion-view>