<ion-view title="Log Your Food">
    <ion-content padding="'true'">
        <div ng-include src="'templates/header-bar.html'"></div>
        <ion-list class="has-header">
            <label class="item item-input">
                <span class="input-label">Search</span>
                <input type="text" placeholder="Search food" ng-model="search" ng-change="searchDelay(this)" id="search" >
            </label>

            <ion-item
                ng-repeat="food in details"
                food_id="{{food.id}}"
                food_name="{{food.name}}"
                food_type="{{food.type}}"
                food_url="{{food.url}}"
                class="icon ion-android-add" ng-click="addItem(food.food_id, food.food_name, food.food_type, food.food_description, food.food_url)">
                    {{food.food_name}} <br>
                    {{food.food_description}}
            </ion-item>
        </ion-list>
        <button class="button button-stable button-block ">Nieuwe set</button>
        <div class="spacer" style="height: 100px;"></div>
        <div class="button-bar">
            <a href="#/log" class="button button-stable button-block ">
                Log je voedsel
            </a>
            <!-- zullen we nieuwe groep eruit laten? teveel werk in verhouding tot resultaat
                <a href="#/newgroup" class="button button-stable button-block ">nieuwe groep</a>

                Sven: Ja, laten we het als een "Could Have" houden. :3
             -->
        </div>
    </ion-content>
</ion-view>