<ion-view title="My Food">
    <ion-content padding="'true'">
        <div ng-include src="'templates/header-bar.html'"></div>
        <ion-list class="has-header">
        <div class="datePicker">
            <button class="ion-ios-arrow-back" id="previousDay" ng-click="previousDay()"></button>
            <div id="date"></div>
            <button class="ion-ios-arrow-forward" id="nextDay"  ng-click="nextDay()"></button>
        </div>
        <ion-list>
            <ion-item
                ng-repeat="food in dailyItems">
                    {{food.name}} <br>
                    {{food.description}}
            </ion-item>
                    {{message}}
        </ion-list>    
        <div class="button-bar">
            <a href="#/log" class="button button-stable button-block ">
                Log je voedsel
            </a>
            <!-- zullen we nieuwe groep eruit laten? teveel werk in verhouding tot resultaat
                <a href="#/newgroup" class="button button-stable button-block ">nieuwe groep</a>

                Sven: Ja, laten we het als een "Could Have" houden. :3
             -->
        </div>
    </ion-content>
</ion-view>