<ion-view title="My Food">
    <ion-content padding="'true'">
        <div class="nav bar-stable bar-light">
            <a href="#/" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
        </div>
        <ion-list class="has-header">
        <div class="datePicker">
            <button class="ion-ios-arrow-back" id="previousDay" ng-click="previousDay()"></button>
            <div class="" id="date"></div>
            <button class="ion-ios-arrow-forward" id="nextDay"  ng-click="nextDay()"></button>
        </div>
        <ion-list>
            <ion-item
                ng-repeat="food in dailyItems">
                    {{food.name}} <br>
                    {{food.description}}
            </ion-item>
            <div class="error-message">{{message}}</div>
        </ion-list>    
    </ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="button-block">
    <button id="totalCalories">{{totalCalories}} kcal total</button>
    <button id="totalFat">{{totalFat}} gram(s) fat total</button>
    <a href="#/log" ng-click="changeStatus()" class="button button-balanced button-block  icon ion-android-add">
        Add Food Items
    </a>
</ion-footer-bar>