<ion-view title="settings">
    <ion-content padding="'true'">
        <div ng-include src="'templates/icon-menu.html'"></div>
            <div id="settings_page">
                <a href="#">
                    <div class="card">
                        <div class="item item-text-wrap"> Settings </div>
                    </div>
                </a>
                <a href="#/about">
                    <div class="card">
                        <div class="item item-text-wrap"> About </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="item item-text-wrap"> Tutorial </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="item item-text-wrap"> Koppel FitBit </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                        <div class="item item-text-wrap"> Koppel Hologram </div>
                    </div>
                </a>
            </div>
    </ion-content>
</ion-view>