<ion-view title="quiz">

    <div class="bar bar-header bar-light">
        <h1 class="title" style="color: #9c9c9c;  text-transform: uppercase; font-size: 15px">Gegevens invullen</h1>
    </div>
    
    <ion-content padding="'true'">
        <form class="question_list" style="margin: 50px 0 0 20px" action="#/home">
            <div>
                <span>Wat is je voornaam?</span>
                <input type="text" placeholder="" name="name">
            </div>

            <div>
                <span>Hoeveel weeg je?</span>
                <input type="text" placeholder="" name="weight">
            </div>

            <div>
                <span>Wat is je lengte?</span>
                <input type="text" placeholder="" name="length">
            </div>

            <div>
                <span>Wat is je geboortedatum?</span>
                <label>
                    <input id="date" type="date" name="birthdate">
                </label>
            </div>

            <div>
                <span>Hoevaak sport je?</span>
            </div>

            <ion-list>
                <ion-radio ng-model="choice" ng-value="'A'">één keer per week</ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'">meerdere keren per week</ion-radio>
                <ion-radio ng-model="choice" ng-value="'C'">één paar keer per maand</ion-radio>
                <ion-radio ng-model="choice" ng-value="'D'">Nauwelijks</ion-radio>
            </ion-list>

            <label style="display: block;">
               <button type="submit" class="button button-balanced" style="border-color: #33cd5f;">Verder</button>
            </label>
        </form>
    </ion-content>

</ion-view>