<ion-view title="quiz">

    <div class="bar bar-header bar-light">
        <h1 class="title">Gegevens invullen</h1>
    </div>

    <ion-content padding="'true'">
        <form class="list" style="margin-top: 50px">

            <label class="item item-input item-stacked-label">
                <span class="input-label">WAT IS JE NAAM?</span>
                <input type="text" placeholder="JOHN DE GROOT" name="name">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">HOEVEEL WEEG JE?</span>
                <input type="text" placeholder="86KG" name="weight">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">WAT IS JE LENGTE?</span>
                <input type="text" placeholder="180CM" name="length">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">WAT IS JE GEBOORTEDATUM?</span>
                <input type="date" name="birthdate">
            </label>

            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        1
                    </div>
                    <i class="radio-icon ion-checkmark balanced"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        2
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        > 2
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        NOOIT
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </div>
            </label>

            <label style="float: right; padding: 20px">
                <input type="submit"  class="button button-balanced" value="Verder">
            </label>

        </form>

    </ion-content>

</ion-view>