<ion-view title="welcome">
    <ion-content padding="'true'">
            <div class="welcome" style="text-align: center;">
                <img class="" src="./img/HealthWizard.png" style="width:30%; text-align:center; margin-top:33%;">
                <h2 style="text-align: center;"></h2>
                <h2 style="text-align: center;"></h2>
                <div style="text-align: center; margin-right:2%">
                    <ion-spinner></ion-spinner>
                </div>
            </div>
    </ion-content>
</ion-view>