h1
{
    color:red;
}

.card
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(234, 234, 234);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.031);
    width: 100%;
    min-height: 160px;
    z-index: 12;
}

.card .item
{
    border-width:0px;
    background: none;
    border:none;
}

.item-divider
{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(156, 156, 156);
    text-transform: uppercase;
    margin-top: 10px;
}

.item-body p
{
    margin-top: 0;
}

.bar-footer.button-block
{
    background: none;
    margin: 0% 5% 10% 5%;
}

.bar-footer.button-block .button-block
{
    width: 90%;
}

.button-bar .button.underline
{
    border-bottom: 2px solid green;
}

.timeline-container
{
    width: 100%;
    text-align: left;
}

.timeline-container hr
{
    height: 1px;
    position: absolute;
    width: 100%;
    border: 0;
    background-color: #565656;
    top: 13px;
}

.timeline-container .circle
{
    background-color: #565656;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 999px;
    margin-left: 4px;
}



