h1
{
    color:red;
}

.card
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(234, 234, 234);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.031);
    width: 100%;
    min-height: 160px;
    z-index: 12;
}

.card .item
{
    border-width:0px;
    background: none;
    border:none;
}

.item-divider
{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(156, 156, 156);
    text-transform: uppercase;
    margin-top: 10px;
}

.item-body p
{
    margin-top: 0;
}

.active {
    width: 20px !important;
    height: 20px !important;
    position: relative !important;
    bottom: 5px !important;
    background: #11c1f3 !important;
    margin-bottom: 9px !important;
    border: 1px solid #FFF !important;
}

.right-now {
    position: absolute;
    bottom: 31px;
}

.bg{
    background: url('../img/dashboard-bg.png');
}

.bar-footer.button-block
{
    background: none;
    margin: 0% 5% 10% 5%;
}

.bar-footer.button-block .button-block
{
    width: 90%;
}

.button-bar .button.underline
{
    border-bottom: 1px solid green;
}

.timeline-container
{
    width: 100%;
    text-align: left;
}

.timeline-container hr
{
    height: 1px;
    position: absolute;
    width: 100%;
    border: 0;
    background-color: #565656;
    top: 13px;
}

.timeline-container .circle
{
    background-color: #565656;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 999px;
    margin-left: 4px;
}

.button-bar .button
{
    border:none;
    background-color: white;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.heart-Icon
{
    float: left;
    margin-left: 10px;
}

.graph-icon
{
    float: right;
}

.droplet-icon
{
    float:left;
    height: 60vh;
}

.fat-person
{
    height: 60vh;
    margin-top: 30px;
    
}
.dashboard-container
{
    float:left;
    width: 100vw;
}

.block
{
    width: 33vw;
    height: 100vh;
    float:left;
}
.block2
{
    width: 33vw;
    height: 100vh;
    float: left;
}
.block3
{
    width: 33vw;
    height: 100vh;
    float: right;  
}
.question_list div {
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #9c9c9c;
}

.question_list span{
    font-size: 15px;
}

.question_list input, .question_list select {
    text-transform: uppercase;
    color: #9c9c9c;
    font-weight: lighter;
    font-size: 30px;
    outline: none;
    width: 80%;
    border-bottom: 1px #9c9c9c solid;
    padding-top: 6px;
    height: 50px;
}

.question_list select  {
    border-bottom: 1px #9c9c9c solid;
}

::-webkit-datetime-edit-text { color: #9c9c9c; font-weight: lighter; padding: 2px }
::-webkit-datetime-edit { padding: 5px 0 5px 0;}
::-webkit-calendar-picker-indicator { color: #33cd5f ; }


.question_list ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9c9c9c;
    padding-top: 11px;
    font-weight: lighter;
    opacity: 0.5;
}
.question_list :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9c9c9c;
    padding-top: 11px;
    font-weight: lighter;
    opacity: 0.5;
}
.question_list::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9c9c9c;
    padding-top: 11px;
    font-weight: lighter;
    opacity: 0.5;
}
.question_list :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #9c9c9c;
    padding-top: 11px;
    font-weight: lighter;
    opacity: 0.5;
}

.question_list .item-radio{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}

.question_list .ion-checkmark {
    color: #ffffff;
}

.question_list .item-radio input:checked + .radio-content .item-content {
    background-color: #33cd5f;
    color: #ffffff;
}
.checked{
    background-color: #33cd5f;
    border: 1px solid #ffffff;
    
}
.datePicker button {
    display: inline-block;
    padding: 2%;
    width:8%;
    box-sizing: border-box;
    background-color: #F5F5F5;
    margin-bottom:2%;
    border: 1px solid #F0F0F0;
    border-radius: 2px;

}
.datePicker{
    width:100%;
    display: inline-block;
    font-size: 6mm;
}
#nextDay{
    float:right;
}
#date{
    width:80%;
    font-size:;
    display: inline-block;
    text-align: center;
}

#settings_page, #settings_page a{
    text-align: center;
    text-decoration: none;
}

#settings_page .card {
    min-height: 50px;
}

#bmi_result div{
    display: inline-block;
    width: 50%;
    height: auto
;
}

#bmi {
    font-size: 40px;
}
.error-message{
    text-align: center;
    width: 100%;
    color:red;
    font-size:17px;
}
#totalCalories{

}
.calorie-negative{
    border: 1px solid #e42112;
    border-color: #e42112;
    background-color: #ef473a;
    border-radius:2px;
}

.calorie-danger{
    border: 1px solid #e6b500;
    border-color:#e6b500;
    background-color:#ffc900;
    border-radius:2px;
}
.calorie-positive{
    border: 1px solid #28a54c;
    border-color: #28a54c;
    background-color: #33cd5f;
    border-radius:2px;
}

a
{
    text-decoration: none;
    color:black;
}

.negative{
    color: #ef473a;
}

.danger{
    color: #ffc900;
}
.positive{
    color: #33cd5f;
}

.picked{
    border: 1px solid #28a54c;
    border-color: #28a54c;
    background-color: #33cd5f;
    border-radius:2px;
    color:white;
}
.picked .spanChild
{
    width:73%;
    display: inline-block;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.clicked-count
{
    display: none;
    height: 43px;
    border-left: 1px solid #28A54C;
    margin-left: 20px;
    padding-left: 15px;
    float: right;
    padding-top: 11px;
}

.picked .clicked-count
{
    display: block;
}


.welcomePage
{
    background: url('../img/HealthWizard.png');
}